:root {
    --header-color: #343a40;
    --text-color: #9a9da0;
    --text-color-dark: #212529;
    --text-color-hover: #f8f9fa;
    --background-color: #ffffff;
    --blue: #007bff;

    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";

    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace;

    font-family: var(--font-family-sans-serif);
    color: var(--text-color);

    overflow: hidden;
}

body {
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed;
    background-color: var(--background-color);
    background-size: 100vw 100vh;
}

h1,
h2,
p {
    font-weight: 400;
}

p {
    line-height: 1.5;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
}

.text-column {
    display: flex;
    max-width: 48rem;
    flex: 0.6;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

input,
button {
    font-size: inherit;
    font-family: inherit;
}

button:focus:not(:focus-visible) {
    outline: none;
}

@media (min-width: 720px) {
    h1 {
        font-size: 2.4rem;
    }
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
